ul{
    height: 40px;
    background-color: ivory;
}
li{
    list-style-type: none;
    display: inline-block;
    
}
a{
    text-decoration: none;
    color:black;
    padding: 0px 15px;
    line-height: 40px;
}
a:hover{
    color:blue;
}