*{
    padding: 0px;
    margin:0px;
    box-sizing: border-box;
}
.container{
    width: 1200px;
    margin: 0 auto;

}
.header{
    width: 100%;
    padding-top: 15px;
}
a{
    text-decoration: none;
}
.head_left{
    width: 50%;
    float:left;

}
.head_right{
    width: 50%;
    float: right;
    text-align: right;
}
.head_left a{
    color: black;
    padding-top: 20px;
    padding-left: 20px;
}
.btn_right{
    padding: 3px 10px;
    margin-right: 5px;
    border-radius: 5px;
    background-color: aliceblue;
}
.btn_right:hover{
    background-color: antiquewhite;
}
.head_right ul{
    list-style-type: none;
    margin-top: 20px;

}
.head_right ul li{
    display: inline-block;
    padding: 10px;
}
.clear{
    clear: both;
}
#menu{
    list-style-type: none;
    background-color: #6e696b;
    border:1px solid #333;
    line-height: 40px;
    padding-left: 20px;
}
#menu li{
    display: inline-block;
    text-transform: uppercase;
    padding-right: 10px;
    color: white;
}
#menu li a{
    color: white;
}